<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stop Train</title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<!--    <header class="container-header">
        <div>
            <a class="name-company">CarBrain</a>
       </div>
    </header> -->

    <header>
        <div class="container">
            <a href="/" class="logo">CarBrain</a>
            <nav>
                <ul>
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="main-news">
        <img src="../static/images/Test_1066x350.png">
    </div>

    <div class="main">
        <!--<div class="block-main">
            <img src="../static/images/Test_1066x350.png">
        </div>-->
        <div class="block-news">
            НОВОСТЬ 1
        </div>
        <div class="block-news">
            НОВОСТЬ 2
        </div>
    </div>



</body>
</html>